.name {
  font-size: 17;
  font-weight: bold;
  vertical-align: bottom;
}

.title {
  color: #7e848d;
  font-size: 12;
  vertical-align: top;
}

.border {
  border-bottom-width: 1;
  border-color: #f4f4f4;
}

.item {
  padding-bottom: 10;
  padding-top: 22;
}

.text {
  color: #a2a2a7;
}

.icon {
  color: #7e848d;
}
