<navigation-action-bar
  [title]="'change_password.title' | translate"
></navigation-action-bar>

<StackLayout class="m-x-20">
  <GridLayout rows="auto 16 auto" columns="auto *" class="item border">
    <Label
      row="0"
      colSpan="2"
      class="text"
      [text]="'change_password.current_password' | translate"
    ></Label>
    <Label row="2" col="0" text="&#xe903;" class="bankpick-icon icon"></Label>
    <Label row="2" col="1" text="**********"></Label>
  </GridLayout>

  <GridLayout rows="auto 16 auto" columns="auto * auto" class="item border">
    <Label
      row="0"
      colSpan="2"
      class="text"
      [text]="'change_password.new_password' | translate"
    ></Label>
    <Label row="2" col="0" text="&#xe903;" class="bankpick-icon icon"></Label>
    <Label row="2" col="1" text="**********"></Label>
    <Label row="2" col="2" class="bankpick-icon icon" text="&#xe904;"></Label>
  </GridLayout>

  <GridLayout rows="auto 16 auto" columns="auto *" class="item border">
    <Label
      row="0"
      colSpan="2"
      class="text"
      [text]="'change_password.confirm_new_password' | translate"
    ></Label>
    <Label row="2" col="0" text="&#xe903;" class="bankpick-icon icon"></Label>
    <Label row="2" col="1" text="**********"></Label>
  </GridLayout>

  <Label
    text="{{ 'change_password.requirements' | translate }}"
    class="text"
    marginTop="10"
    marginBottom="40"
  ></Label>

  <Button
    class="-primary"
    text="{{ 'change_password.button' | translate }}"
  ></Button>
</StackLayout>
