<navigation-action-bar
  [title]="'privacy_policy.title' | translate"
></navigation-action-bar>

<ScrollView>
  <GridLayout rows="auto 20 auto 20 auto 20 auto" class="m-20">
    <Label
      row="0"
      class="paragraph"
      text="{{ 'privacy_policy.1' | translate }}"
    ></Label>

    <Label
      row="2"
      class="paragraph"
      text="{{ 'privacy_policy.2' | translate }}"
    ></Label>

    <Label
      row="4"
      class="paragraph"
      text="{{ 'privacy_policy.3' | translate }}"
    ></Label>

    <Label
      row="6"
      class="paragraph"
      text="{{ 'privacy_policy.4' | translate }}"
    ></Label>
  </GridLayout>
</ScrollView>
