.header {
  font-size: 40;
  color: #1e1e2d;
  padding: 20 0;
}

.border {
  border-bottom-width: 1;
  border-color: #f4f4f4;
}

.item {
  padding-bottom: 10;
  padding-top: 22;
}

.text {
  color: #a2a2a7;
  font-size: 14;
}

.icon {
  color: #a2a2a7;
}

.sign-in {
  font-size: 14;
  color: var(--color-blue);
}
