.action-bar.ns-android {
  margin-left: -15;
}

.action-bar-back-icon.ns-android {
  padding-left: 15;
}

.title {
  font-size: 18;
}

.title.ns-ios {
  margin-left: -12;
}

.circle {
  border-width: 1;
  border-radius: 50%;
  border-color: #f4f4f4;
  background-color: #f4f4f4;
  width: 42;
  height: 42;
  font-size: 16;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}
