.circle {
  border-width: 1;
  border-radius: 50%;
  width: 42;
  height: 42;
  font-size: 16;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}

.circle-color {
  border-color: #f4f4f4;
  background-color: #f4f4f4;

  :host-context(.ns-dark) & {
    border-color: #0b0b0b;
    background-color: #0b0b0b;
  }
}

.brand {
  font-size: 16;
}

.category {
  font-size: 12;
}
