.status {
  color: #7e848d;
  font-size: 12;
}

.circle {
  border-width: 1;
  border-radius: 50%;
  width: 54;
  height: 54;
  font-size: 20;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}

.circle-color {
  color: #1e1e2d;
  border-color: #f4f4f4;
  background-color: #f4f4f4;

  :host-context(.ns-dark) & {
    color: #e1e1d2;
    border-color: #0b0b0b;
    background-color: #0b0b0b;
  }
}

.see-all {
  font-size: 14;
  color: var(--color-blue);
}
