.border {
  border-bottom-width: 1;
  border-color: #f4f4f4;
}

.header {
  margin: 32 0 10 0;
  font-size: 14;
  color: #a2a2a7;
}

Switch {
  margin: 0;
}

.item {
  padding-bottom: 10;
  padding-top: 22;
}

.text {
  color: #a2a2a7;
}

.icon {
  color: #7e848d;
}
